@tailwind base;
@tailwind components;
@tailwind utilities;

.Odontogram path[fill="currentColor"] {
  fill: white;
  transition: fill 0.3s ease;
}

.Odontogram path[stroke="currentColor"] {
  stroke: #5e7dfc8f;
  transition: stroke 0.3s ease;
}

/* Selected teeth styling */
.Odontogram g[role="option"]:hover path[stroke="currentColor"] {
  stroke: black;
  /*stroke-width: 2pt;*/
}

.Odontogram .selected path[stroke="currentColor"] {
  stroke: black;
}

/* Detail paths (the inner lines on teeth) */
.Odontogram path[stroke="currentColor"] {
  fill: none;
}